.widget
{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.widget-body
{
    padding: 15px;
}

.widget-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget-heading > .dropdown .dropdown-toggle
{
    color: inherit;
}

.widget-title
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.widget-title > a,
.widget-title > small,
.widget-title > .small,
.widget-title > small > a,
.widget-title > .small > a
{
    color: inherit;
}

.widget-footer
{
    padding: 6px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.widget-footer a
{
    color: rgba(0, 0, 0, 0.5);
}
.widget-footer a:hover
{
    color: #000;
}

.widget > .list-group,
.widget > .widget-collapse > .list-group
{
    margin-bottom: 0;
}

.widget > .list-group .list-group-item,
.widget > .widget-collapse > .list-group .list-group-item
{
    border-width: 1px 0;
    border-radius: 0;
}

.widget > .list-group:first-child .list-group-item:first-child,
.widget > .widget-collapse > .list-group:first-child .list-group-item:first-child
{
    border-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 00px;
}

.widget > .list-group:last-child .list-group-item:last-child,
.widget > .widget-collapse > .list-group:last-child .list-group-item:last-child
{
    border-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.widget > .widget-heading + .widget-collapse > .list-group .list-group-item:first-child
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.widget-heading + .list-group .list-group-item:first-child
{
    border-top-width: 0;
}

.list-group + .widget-footer
{
    border-top-width: 0;
}

.widget > .table,
.widget > .table-responsive > .table,
.widget > .widget-collapse > .table
{
    margin-bottom: 0;
}

.widget > .table caption,
.widget > .table-responsive > .table caption,
.widget > .widget-collapse > .table caption
{
    padding-right: 15px;
    padding-left: 15px;
}

.widget > .table:first-child,
.widget > .table-responsive:first-child > .table:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.widget > .table:first-child > thead:first-child > tr:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.widget > .table:first-child > thead:first-child > tr:first-child td:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.widget > .table:first-child > thead:first-child > tr:first-child th:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child
{
    border-top-left-radius: 0px;
}

.widget > .table:first-child > thead:first-child > tr:first-child td:last-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.widget > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.widget > .table:first-child > thead:first-child > tr:first-child th:last-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.widget > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child
{
    border-top-right-radius: 0px;
}

.widget > .table:last-child,
.widget > .table-responsive:last-child > .table:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.widget > .table:last-child > tbody:last-child > tr:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.widget > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.widget > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child
{
    border-bottom-left-radius: 0px;
}

.widget > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.widget > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child
{
    border-bottom-right-radius: 0px;
}

.widget > .widget-body + .table,
.widget > .widget-body + .table-responsive,
.widget > .table + .widget-body,
.widget > .table-responsive + .widget-body
{
    border-top: 1px solid #ddd;
}

.widget > .table > tbody:first-child > tr:first-child th,
.widget > .table > tbody:first-child > tr:first-child td
{
    border-top: 0;
}

.widget > .table-bordered,
.widget > .table-responsive > .table-bordered
{
    border: 0;
}

.widget > .table-bordered > thead > tr > th:first-child,
.widget > .table-responsive > .table-bordered > thead > tr > th:first-child,
.widget > .table-bordered > tbody > tr > th:first-child,
.widget > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.widget > .table-bordered > tfoot > tr > th:first-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.widget > .table-bordered > thead > tr > td:first-child,
.widget > .table-responsive > .table-bordered > thead > tr > td:first-child,
.widget > .table-bordered > tbody > tr > td:first-child,
.widget > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.widget > .table-bordered > tfoot > tr > td:first-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > td:first-child
{
    border-left: 0;
}

.widget > .table-bordered > thead > tr > th:last-child,
.widget > .table-responsive > .table-bordered > thead > tr > th:last-child,
.widget > .table-bordered > tbody > tr > th:last-child,
.widget > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.widget > .table-bordered > tfoot > tr > th:last-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.widget > .table-bordered > thead > tr > td:last-child,
.widget > .table-responsive > .table-bordered > thead > tr > td:last-child,
.widget > .table-bordered > tbody > tr > td:last-child,
.widget > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.widget > .table-bordered > tfoot > tr > td:last-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > td:last-child
{
    border-right: 0;
}

.widget > .table-bordered > thead > tr:first-child > td,
.widget > .table-responsive > .table-bordered > thead > tr:first-child > td,
.widget > .table-bordered > tbody > tr:first-child > td,
.widget > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.widget > .table-bordered > thead > tr:first-child > th,
.widget > .table-responsive > .table-bordered > thead > tr:first-child > th,
.widget > .table-bordered > tbody > tr:first-child > th,
.widget > .table-responsive > .table-bordered > tbody > tr:first-child > th
{
    border-bottom: 0;
}

.widget > .table-bordered > tbody > tr:last-child > td,
.widget > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.widget > .table-bordered > tfoot > tr:last-child > td,
.widget > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.widget > .table-bordered > tbody > tr:last-child > th,
.widget > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.widget > .table-bordered > tfoot > tr:last-child > th,
.widget > .table-responsive > .table-bordered > tfoot > tr:last-child > th
{
    border-bottom: 0;
}

.widget > .table-responsive
{
    margin-bottom: 0;
    border: 0;
}

.widget-group
{
    margin-bottom: 20px;
}

.widget-group .widget
{
    margin-bottom: 0;
    border-radius: 0px;
}

.widget-group .widget + .widget
{
    margin-top: 5px;
}

.widget-group .widget-heading
{
    border-bottom: 0;
}

.widget-group .widget-heading + .widget-collapse > .widget-body,
.widget-group .widget-heading + .widget-collapse > .list-group
{
    border-top: 1px solid #ddd;
}

.widget-group .widget-footer
{
    border-top: 0;
}

.widget-group .widget-footer + .widget-collapse .widget-body
{
    border-bottom: 1px solid #ddd;
}

.widget-default
{
    border-color: #ddd;
}

.widget-default > .widget-heading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.widget-default > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #ddd;
}

.widget-default > .widget-heading .badge
{
    color: #f5f5f5;
    background-color: #333;
}

.widget-default > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #ddd;
}

.widget-primary
{
    /*border-color: #337ab7;*/
    border-color: #ddd;
}

.widget-primary > .widget-heading
{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.widget-primary > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #337ab7;
}

.widget-primary > .widget-heading .badge
{
    color: #337ab7;
    background-color: #fff;
}

.widget-primary > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #337ab7;
}

.widget-success
{
    /*border-color: #d6e9c6;*/
    border-color: #ddd;
}

.widget-success > .widget-heading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.widget-success > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #d6e9c6;
}

.widget-success > .widget-heading .badge
{
    color: #dff0d8;
    background-color: #3c763d;
}

.widget-success > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #d6e9c6;
}

.widget-info
{
    /*border-color: #bce8f1;*/
    border-color: #ddd;
}

.widget-info > .widget-heading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.widget-info > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #bce8f1;
}

.widget-info > .widget-heading .badge
{
    color: #d9edf7;
    background-color: #31708f;
}

.widget-info > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #bce8f1;
}

.widget-warning
{
    /*border-color: #faebcc;*/
    border-color: #ddd;
}

.widget-warning > .widget-heading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.widget-warning > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #faebcc;
}

.widget-warning > .widget-heading .badge
{
    color: #fcf8e3;
    background-color: #8a6d3b;
}

.widget-warning > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #faebcc;
}

.widget-danger
{
    /*border-color: #ebccd1;*/
    border-color: #ddd;
}

.widget-danger > .widget-heading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.widget-danger > .widget-heading + .widget-collapse > .widget-body
{
    border-top-color: #ebccd1;
}

.widget-danger > .widget-heading .badge
{
    color: #f2dede;
    background-color: #a94442;
}

.widget-danger > .widget-footer + .widget-collapse > .widget-body
{
    border-bottom-color: #ebccd1;
}




/*!*WIDGETS *!*/
/*a*/
/*{*/
/*color: #A3A5A7;*/
/*text-decoration: none;*/
/*}*/

/*a:hover, a:focus*/
/*{*/
/*color: #434446;*/
/*text-decoration: none;*/
/*}*/

/*.widget*/
/*{*/
/*background: #fff;*/
/*margin: 0 auto 20px;*/
/*position: static;*/
/*border: 1px solid #c1c1c1;*/
/*}*/

/*.widget .tab-content*/
/*{*/
/*padding: 0;*/
/*}*/

/*.widget .widget-heading*/
/*{*/
/*background-color: #f8f8f8;*/
/*background-image: -moz-linear-gradient(top, #f8f8f8, #ededed);*/
/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ededed));*/
/*background-image: -webkit-linear-gradient(top, #f8f8f8, #ededed);*/
/*background-image: -o-linear-gradient(top, #f8f8f8, #ededed);*/
/*background-image: linear-gradient(to bottom, #f8f8f8, #ededed);*/
/*background-repeat: repeat-x;*/
/*border-bottom: 1px solid #c1c1c1;*/
/*color: #fff;*/
/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
/*height: 40px;*/
/*line-height: 40px;*/
/*position: relative;*/
/*padding: 0 15px 0 0;*/
/*}*/

/*.widget .widget-heading.progress*/
/*{*/
/*-webkit-border-radius: 0 0 0 0;*/
/*-moz-border-radius: 0 0 0 0;*/
/*border-radius: 0 0 0 0;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*.widget .widget-heading .glyphicons*/
/*{*/
/*height: 40px;*/
/*width: 30px;*/
/*padding: 0;*/
/*}*/

/*.widget .widget-heading .fai:before*/
/*{*/
/*width: 30px;*/
/*height: 40px;*/
/*line-height: 31px;*/
/*text-align: center;*/
/*font-size: 16px;*/
/*color: rgba(255, 255, 255, 0.5);*/
/*}*/

/*.widget .widget-heading .heading*/
/*{*/
/*margin: 0;*/
/*color: #45484d;*/
/*font-size: 14px;*/
/*height: 40px;*/
/*line-height: 40px;*/
/*padding: 0 15px;*/
/*float: left;*/
/*}*/

/*.widget .widget-heading .heading.glyphicons*/
/*{*/
/*width: auto;*/
/*display: block;*/
/*padding: 0 0 0 35px;*/
/*}*/

/*.widget .widget-heading .heading.fai:before*/
/*{*/
/*padding: 0;*/
/*margin: 0;*/
/*left: 0;*/
/*top: 0;*/
/*height: 40px;*/
/*line-height: 40px;*/
/*text-align: center;*/
/*width: 35px;*/
/*color: #45484d;*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*text-shadow: none;*/
/*}*/

/*.widget .widget-heading a*/
/*{*/
/*text-shadow: none;*/
/*}*/

/*.widget .widget-heading .dropdown-menu li > a:hover, .widget .widget-heading .dropdown-menu li > a:focus, .widget .widget-heading .dropdown-submenu:hover > a*/
/*{*/
/*background-color: #47759e;*/
/*background-image: -moz-linear-gradient(top, #47759e, #d24343);*/
/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47759e), to(#d24343));*/
/*background-image: -webkit-linear-gradient(top, #47759e, #d24343);*/
/*background-image: -o-linear-gradient(top, #47759e, #d24343);*/
/*background-image: linear-gradient(to bottom, #47759e, #d24343);*/
/*background-repeat: repeat-x;*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0);*/
/*}*/

/*.widget .details*/
/*{*/
/*font-size: 8pt;*/
/*color: #45484d;*/
/*}*/

/*.widget .widget-body*/
/*{*/
/*padding: 20px 15px;*/
/*}*/

/*.widget .widget-body form*/
/*{*/
/*margin: 0;*/
/*}*/

/*.widget .widget-body .count*/
/*{*/
/*font-size: 15pt;*/
/*font-weight: 400;*/
/*}*/

/*.widget .widget-body > p:last-child*/
/*{*/
/*margin: 0;*/
/*}*/

/*.widget .widget-body.list*/
/*{*/
/*color: #575655;*/
/*padding: 0;*/
/*}*/

/*.widget .widget-body.list ul*/
/*{*/
/*margin: 0;*/
/*list-style: none;*/
/*}*/

/*.widget .widget-body.list ul li*/
/*{*/
/*padding: 0 10px;*/
/*height: 39px;*/
/*border-bottom: 1px solid rgba(0, 0, 0, 0.02);*/
/*line-height: 39px;*/
/*text-align: left;*/
/*clear: both;*/
/*}*/

/*.widget .widget-body.list ul li:first-child*/
/*{*/
/*border-top: none;*/
/*}*/

/*.widget .widget-body.list ul li:last-child*/
/*{*/
/*border-bottom: none;*/
/*}*/

/*.widget .widget-body.list ul li .count*/
/*{*/
/*float: right;*/
/*color: #47759e;*/
/*}*/

/*.widget .widget-body.list ul li .sparkline*/
/*{*/
/*position: relative;*/
/*top: 5px;*/
/*margin-left: 5px;*/
/*}*/

/*.widget .widget-body.list.products li*/
/*{*/
/*height: 60px;*/
/*line-height: 60px;*/
/*}*/

/*.widget .widget-body.list.products .img*/
/*{*/
/*float: left;*/
/*display: inline-block;*/
/*width: 48px;*/
/*height: 44px;*/
/*line-height: 44px;*/
/*color: #818181;*/
/*text-align: center;*/
/*background: #272729;*/
/*margin: 8px 8px 0 0;*/
/*-webkit-border-radius: 3px 3px 3px 3px;*/
/*-moz-border-radius: 3px 3px 3px 3px;*/
/*border-radius: 3px 3px 3px 3px;*/
/*cursor: pointer;*/
/*font-size: 10pt;*/
/*font-weight: 600;*/
/*}*/

/*.widget .widget-body.list.products .title*/
/*{*/
/*line-height: normal;*/
/*display: inline-block;*/
/*padding: 13px 0 0;*/
/*font-family: "Raleway", sans-serif;*/
/*text-transform: uppercase;*/
/*}*/

/*.widget .widget-body.list.products .title strong*/
/*{*/
/*font-family: "Open Sans", sans-serif;*/
/*text-transform: none;*/
/*}*/

/*.widget .widget-body.list.fluid ul li*/
/*{*/
/*height: auto;*/
/*line-height: normal;*/
/*padding: 10px;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li*/
/*{*/
/*border-bottom: 1px solid #d8d9da;*/
/*border-top: none;*/
/*background: #f8f8f8;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.active*/
/*{*/
/*border-color: #dddddd;*/
/*background: #fff;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.active i:before*/
/*{*/
/*font-weight: normal;*/
/*background: #47759e;*/
/*color: #fff;*/
/*text-shadow: none;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.active a*/
/*{*/
/*color: #47759e;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li:last-child*/
/*{*/
/*border-bottom: none;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li a*/
/*{*/
/*display: block;*/
/*color: #222;*/
/*padding: 0 0 0 30px;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li a i:before*/
/*{*/
/*color: #555;*/
/*width: 20px;*/
/*height: 17px;*/
/*font-size: 14px;*/
/*border: 1px solid #ccc;*/
/*background: #dddddd;*/
/*top: 9px;*/
/*left: 0;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*padding-top: 3px;*/
/*text-shadow: 0 1px 0 #fff;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.hasSubmenu*/
/*{*/
/*height: auto;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.hasSubmenu ul*/
/*{*/
/*padding: 0 0 10px;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.hasSubmenu ul li*/
/*{*/
/*height: auto;*/
/*line-height: normal;*/
/*background: none;*/
/*border: none;*/
/*line-height: 20px;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.hasSubmenu ul li a*/
/*{*/
/*color: #333;*/
/*padding: 0 0 0 20px;*/
/*}*/

/*.widget .widget-body.list.list-2 ul li.hasSubmenu ul li.active a*/
/*{*/
/*font-weight: bold;*/
/*}*/

/*.widget .widget-footer*/
/*{*/
/*background: #f7f7f7;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*border-top: 1px solid #e6e6e6;*/
/*border-bottom: 1px solid #ffffff;*/
/*}*/

/*.widget .widget-footer .fa*/
/*{*/
/*width: 25px;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*padding: 0;*/
/*float: right;*/
/*}*/

/*.widget .widget-footer .fa i:before*/
/*{*/
/*font-size: 16px;*/
/*color: #c3c3c3;*/
/*text-align: center;*/
/*width: 20px;*/
/*height: 25px;*/
/*line-height: 25px;*/
/*text-shadow: 0 1px 0 #fff;*/
/*}*/

/*.widget .widget-footer .fa:hover i:before*/
/*{*/
/*color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*.widget.margin-bottom-none*/
/*{*/
/*margin-bottom: 0;*/
/*}*/

/*.widget.widget-default*/
/*{*/
/*background: #f5f5f5;*/
/*}*/

/*.widget.widget-default .widget-heading*/
/*{*/
/*background: #e9e9e9;*/
/*border-color: #d1d2d3;*/
/*box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);*/
/*-moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);*/
/*-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6), inset -1px -1px 1px rgba(0, 0, 0, 0);*/
/*}*/

/*.widget.widget-default .widget-heading .heading*/
/*{*/
/*color: #555555;*/
/*text-shadow: 0 1px 0 #fff;*/
/*}*/

/*.widget.widget-default .widget-heading .heading.fai:before*/
/*{*/
/*background: none;*/
/*color: #555;*/
/*border-color: rgba(0, 0, 0, 0.1);*/
/*}*/

/*.widget.widget-body-white .widget-body*/
/*{*/
/*background: #fff;*/
/*}*/